*{
padding: 0;
margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 50px;

}

.navigation{
    display: flex;
    column-gap: 100px;
    list-style: none;

}

.navigation a{
    text-decoration: none;
    color: black;
}

.heroSection{
    background-image: url(./image/background\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 250px 148px;
}
.upperSection p:nth-of-type(1){
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #F6F6F6;
}

.upperSection p:nth-of-type(2){
    font-family: Poppins;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color:#FFFFFF;
    max-width: 940px;
}

.upperSection p:nth-of-type(3){
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color:#F6F6F6;
    margin-top: 27px;
}

.heroSection .btnWrapper button:nth-of-type(1){
    width: 236px;
    height: 68px;
    padding: 12px 0px;
    left: 521px;
    border-radius: 30px;
    background: #FA4A0C;
    box-shadow: 0px 10px 30px 0px #B7322733;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: white;
    border: none;
}

.heroSection .btnWrapper button:nth-of-type(2){
    width:236px;
    height:68px;
    padding: 11px 0px;
    border-radius: 30px;
    border: 1px solid white;
    color:#FFFFFF;
    letter-spacing: 0.1px;
    line-height: 26px;
    font-weight: 700;
    font-size: 24px;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2 );
    background-color: transparent;
}

.heroSection .btnWrapper{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.mobileImageWrapper{
    display: flex;
    justify-content: center;
    position: relative;
    top:-130px;
    border-bottom: 3px solid #E4E4E4;
    padding-bottom: 50px;

}
#howWork{
    display: flex;
}